<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
</head>
<body style="background-image: linear-gradient(to right, rgb(173, 77, 154), cadetblue);">

    <h1 style="text-align: center; margin-top: 65px;">Welcome Dear..</h1>
    <div style="margin-top: 200px; text-align: center;">
        <a href="/auth/register" style="color:white; text-decoration-color: black; font-size:x-large; text-align: center;">Register</a>
        <a href="/auth/login" style="color:white; text-decoration-color: black; font-size:x-large; margin-left: 50px;">Login</a>
    </div>
</body>
</html>
